In [11]:
import pandas as pd
df=pd.read_csv(r"C:\Users\KHU\Desktop\Preview_model - 복사본\review_tagging\resources_review\parsing_data\valid\valid.csv")

In [12]:
df.head()

   Review #  Sentence #     Word Sentiment Aspect Sentiment_Score Aspect_Score
0  Review 5  Sentence 1   갤럭시S22         O      O               O            O
1  Review 5  Sentence 1      울트라         O      O               O            O
2  Review 5  Sentence 1  사용자입니다.         O      O               O            O
3  Review 5  Sentence 2     케이스를         O      O               O            O
4  Review 5  Sentence 2     사용하니         O      O               O            O

In [13]:
df['Aspect_Score']=df['Aspect_Score'].replace('B-4', 'B-3').replace('B-5', 'B-3').replace('I-4', 'I-3').replace('I-5', 'I-3')

In [14]:
etc_list=["AS", "과충전방지", "교환", "구성품", "그립감", "기내반입", "기능", "기타",
    "동시충전", "문의", "배송/포장/발송", "배터리를충전하는호환성", "부착", "서비스",
    "수명", "인증", "저전력", "케이스", "파우치", "호환성"]
def remove_etc(text):
    for etc in etc_list:
        if etc in text:
            text='O'
    return text

df['Aspect']=df['Aspect'].apply(remove_etc)

In [15]:
df.to_csv('valid.csv', encoding='utf-8-sig')

In [16]:
df.isnull().sum()

Review #           0
Sentence #         0
Word               0
Sentiment          0
Aspect             0
Sentiment_Score    0
Aspect_Score       0
dtype: int64

: